{% extends 'usuarios/base.html' %}

{% block aba %}Sobre a MovieUp{% endblock %}

{% block titulo %}Aqui você conhece um pouco sobre nós!{% endblock %}

{% block conteudo %}
<div class="container bg-light p-4" style="border-radius: 15px; margin-bottom: 50px;">
    <h1 class="">MovieUp</h1>
    <p>
        O movieUP surgiu do sonho de um grupo de entusiastas de cinema que queriam transformar a maneira como as pessoas acompanham lançamentos de filmes e séries. Cansados de procurar informações em vários sites, decidiram criar uma plataforma centralizada e intuitiva. O movieUP oferece aos usuários uma visão clara dos filmes em cartaz e dos lançamentos futuros, facilitando o planejamento das próximas sessões de cinema e mantendo todos informados sobre o que está por vir.
    </p>

</div>
{% endblock %}